<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404error.jsp</location>
    </error-page>  
    <error-page>
        <error-code>500</error-code>
        <location>/serverError.jsp</location>
    </error-page> 
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>Controller.SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Controller.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>Controller.Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePrescription</servlet-name>
        <servlet-class>Controller.SavePrescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTimeSlot</servlet-name>
        <servlet-class>Controller.SaveTimeSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFullBloodCount</servlet-name>
        <servlet-class>Controller.SaveFullBloodCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchP</servlet-name>
        <servlet-class>Controller.SearchP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>Controller.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetails</servlet-name>
        <servlet-class>Controller.UpdateUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveLipidProfile</servlet-name>
        <servlet-class>Controller.SaveLipidProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTimeSlot</servlet-name>
        <servlet-class>Controller.deleteTimeSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBooking</servlet-name>
        <servlet-class>Controller.SaveBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterToTimeSlot</servlet-name>
        <servlet-class>Controller.RegisterToTimeSlot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/Signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePrescription</servlet-name>
        <url-pattern>/SavePrescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTimeSlot</servlet-name>
        <url-pattern>/SaveTimeSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFullBloodCount</servlet-name>
        <url-pattern>/SaveFullBloodCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchP</servlet-name>
        <url-pattern>/SearchP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/UpdateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetails</servlet-name>
        <url-pattern>/UpdateUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLipidProfile</servlet-name>
        <url-pattern>/SaveLipidProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTimeSlot</servlet-name>
        <url-pattern>/deleteTimeSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBooking</servlet-name>
        <url-pattern>/SaveBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterToTimeSlot</servlet-name>
        <url-pattern>/RegisterToTimeSlot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
